* {
  margin: 0;
  padding: 0;
}

.topheading{
  text-align: center;
}

.App {
  text-align: center;
}

.HanVHeader{
  text-align: center;
}

.heroComponent{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.Userherolist{
  display: inline;
  border: solid;
}


#heroinfo{
  border: solid;
  text-justify: auto;
  text-align: center;
}

.heroCardName{
  text-align: center;
  font-size: 60px;
}

.heroCardStats{
  text-align: center;
  display: grid;
  font-size: 15px;
  grid-template-columns: repeat(2, 1fr);
}

.heroCardButtons{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.heroList{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0px;
  grid-auto-rows: minmax(100px, auto);
  margin: auto;
} 

/* .userList{
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}  */

.pagination {
  display: flex;
  justify-content: center;
}

.pagination li {
  display: block;
 }

 .heroComponent{
  display: grid;
  grid-template-columns: repeat(2);
  gap: 15px;  
 }

.bio{ 
  font-size: large;
}


  

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
