.topheading{
  text-align: center;
}

.App {
  text-align: center;
}

#nav{
  background-color: beige;
  overflow: hidden;
  display: grid;
  grid-template: 50px / 1fr 1fr 1fr 1fr;
  align-items: center
}
.HanVHeader{
  text-align: center;
}



#heroinfo{
  border: solid;
  text-justify: auto;
  text-align: center;
}

.heroes{
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto); */
} 

#heroList{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
} 
  

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
